<body class="centrado color-change-2x " alt="splash">
  <div class="container">
    <ion-card-content class="d-flex-center" style="margin-left: 10px;">
      <img src="../../../assets/logo.png" alt="texto" class="icono">
      <div class="icono-alarma wobble-hor-bottom">
        <img src="../../../assets/alarma.png" alt="icono" class="icono-alarma">
      </div>
      <div class="custom-texto">
        <h1 class="aclonica-regular tracking-in-expand">LAURA COLQUE</h1>
        <h2 class="aclonica-regular tracking-in-expand" style="text-align: center;">4to B</h2>
      </div>
    </ion-card-content>
  </div>
</body>

